/* css variables */
:root {
  --header-height: 5rem;

  --background-color: rgb(243, 225, 225);
  --heading-color: rgb(12, 10, 10);
  --heading-color-two: rgb(77, 68, 68);
  --nav-link-color: rgb(43, 39, 39);
  --highlight-color: rgb(177, 5, 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--heading-color);
}

li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background-color: var(--heading-color);
  color: white;
  padding: 1rem 2rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: black;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/* container */

.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* .......................................... */

/* header */
header {
  width: 100%;
  height: var(--header-height);
  /* border: 1px solid black; */
}

nav {
  height: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo_continaer {
  width: 50px;
  height: 50px;
}

.nav_logo {
  width: 100%;
  height: 100%;
}

.nav_menu_items {
  display: flex;
  gap: 2rem;
}

.nav_menu_item a {
  font-weight: 500;
  color: var(--nav-link-color);
  transition: color 0.3s;
}

.nav_menu_item a:hover {
  color: rgb(177, 5, 5);
}

/* .......................................... */

/* hero section */

.hero_section {
  position: relative;
  width: 100%;
  height: cal(100vh - var(--header-height));
  /* padding-top: 0rem; */
  padding-bottom: 4rem;
}

.hero_section div {
  display: flex;
}

/* left section */

.hero_left_section {
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding-left: 3rem;
}

.left_heading {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}

.left_heading h1 {
  font-size: 12rem;
  font-weight: 800;
}

.left_heading :nth-child(2) {
  /* color: var(--heading-color-two); */
  color: var(--highlight-color);
  margin-top: -7.5rem;
}

.left_description {
  max-width: 60%;
  margin-top: -4rem;
  font-weight: 500;
  color: var(--heading-color-two);
}

/* right section */
.hero_right_section {
  position: absolute;
  right: 6rem;
}

.right_image_container {
  height: 90vh;
}

/* .......................................... */

.search_section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-block: 3rem;
  padding-inline: 5rem;
  background-color: var(--heading-color);
  color: white;
}

.search_section_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_heading h2 {
  font-size: 3rem;
  font-weight: 500;
}

.search_input_container {
  margin-block: 2rem;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.search_input {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: none;
  outline: none;
}

.search_button {
  background-color: var(--highlight-color);
  box-shadow: none;
}

.search_button:hover {
  box-shadow: none;
}

.arrows {
  display: flex;
  align-self: flex-end;
  gap: 1.5rem;
}

.left_arrow,
.right_arrow {
  cursor: pointer;
  transition: all 0.2s;
}

.left_arrow:hover {
  transform: translateX(-5px);
}

.right_arrow:hover {
  transform: translateX(5px);
}
.categories_container {
  width: 100%;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem 2rem 2rem 2rem;
}

.category_container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 180px;
  height: 150px;
  background-color: black;
  color: var(--background-color);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

.category_container a:hover {
  transform: scale(1.08);
  background-color: var(--background-color);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

.category_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.category_icon img {
  width: 100%;
}

.category_name {
  color: var(--background-color);
  transition: all 0.4s;
}

.category_container a:hover .category_name {
  color: var(--heading-color);
}

.search_results {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--background-color);
  margin-top: 1rem;
}

/* exercises section */

.exercises_section {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.exercises_container {
  display: flex;
  overflow: hidden;
  gap: 4rem;
}

.exercise_item {
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  cursor: pointer;
}

.exercise_gif {
  width: 180px;
  height: 180px;
  align-self: center;
}

.exercise_gif img {
  width: 100%;
  height: 100%;
}

.exercise_tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.exercise_tags p {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  background-color: var(--highlight-color);
  border-radius: 1rem;
  color: white;
}

.exercise_name {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  /* align-self: flex-start; */
}

.show_all {
  align-self: center;
  background-color: var(--highlight-color);
  margin-top: 4rem;
}

.show_all:hover {
  background-color: var(--background-color);
  color: var(--heading-color);
}

/* ........................................... */

/* about section */

.about_section {
  padding-block: 4rem;
  padding-inline: 5rem;
  background-color: var(--highlight-color);
}

.about_section_div {
  display: flex;
  gap: 2rem;
}

.about_left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.about_heading {
  font-size: 4rem;
  color: var(--background-color);
}

.about_read_more {
  align-self: flex-start;
}

.about_video_container {
  width: 600px;
  height: 400px;
}

.about_video_container iframe {
  width: 100%;
  height: 100%;
}
